@import "../../../../styles";

div.container-fluid {
   margin-top: $margin-nav;
}


thead {
    background-color: $corporate_blue;
}

table.table > thead > tr > th {
    color: $basic_white;
    font-family: AlstomMedium;
    font-size: 1.2rem;
    padding: 0.3rem;
}
table.table > tbody > tr > td {
    color: $basic_black;
    font-family: WorkSansMedium;
    font-size: 1rem;
    padding: 0.3rem;
}

table.table > tbody > tr:hover {
    background-color: $grey_2;
}
