<app-menu></app-menu>

<ngx-spinner
        bdOpacity=0.8
        bdColor="rgb(135, 135, 135)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-multiple"
        [fullScreen]="true">
</ngx-spinner>


<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Nº Solicitud</th>
                <th>Nombre solicitante</th>
                <th>Estado</th>
                <th>Empresa</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of list" (click)="goToDetail(row)">
                <td>{{ row.claim_num }}</td>
                <td>{{ row.claimant.complete_name }}</td>
                <td>{{ row.maintenance_claim.state }}</td>
                <td>{{ row.service.company.name }}</td>
                <td>{{ row.claim_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
