
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tram-manager-primary: mat-palette($mat-indigo);
$tram-manager-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tram-manager-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$tram-manager-theme: mat-light-theme($tram-manager-primary, $tram-manager-accent, $tram-manager-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($tram-manager-theme);

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap.scss';

$basic_red: rgb(237, 26, 59);
$basic_light_grey: rgb(135, 135, 135);
$basic_dark_grey: rgb(108, 108, 108);
$basic_blue: rgb(3, 70, 148);

$basic_white: rgb(255, 255, 255);
$basic_light_blue: rgb(242, 245, 252);
$basic_grey_2: rgb(244, 244, 244);
$basic_dark_blue: rgb(8, 28, 52);
$basic_black: rgb(27, 38, 38);
$basic_grey: rgb(147, 147, 147);

$cool_cobal_blue: rgb(0, 68, 147);
$cool_prussian_blue: rgb(0, 61, 113);
$cool_navy: rgb(15, 28, 97);
$cool_cerulean: rgb(0, 61, 113);
$cool_turquoise: rgb(0, 172, 169);
$cool_azure: rgb(9, 166, 197);
$cool_byzantium: rgb(84, 55, 117);
$cool_indigo: rgb(59, 47, 133);
$cool_grey: rgb(109, 143, 165);
$cool_green: rgb(48, 140, 54);

$warm_burgundy: rgb(158, 0, 78);
$warm_gold: rgb(241, 247, 0);
$warm_amber: rgb(255, 206, 0);
$warm_red: rgb(226, 27, 29);
$warm_purple: rgb(108, 31, 128);
$warm_ruby: rgb(219, 58, 11);
$warm_organe: rgb(223, 90, 16);
$warm_maroon: rgb(177, 0, 49);
$warm_red_violet: rgb(184, 27, 128);
$warm_coral: rgb(230, 77, 93);

$corporate_blue: rgb(11, 72, 146);
$corporate_greem: rgb(55, 150, 73);
$light_blue: rgb(242, 245, 252);
$black: rgb(37, 38, 38);
$grey: rgb(147, 147, 147);
$light_blue_2: rgb(242, 245, 252);
$grey_2: rgb(224, 224, 224);
$dark_blue: rgb(8, 28, 52);

$margin-nav: 60px;

@font-face {
    font-family: AlstomBlack;
    src: url("/assets/fonts/Alstom/AlstomBlack.ttf") format("truetype");
}

@font-face {
    font-family: AlstomBold;
    src: url("/assets/fonts/Alstom/AlstomBold.ttf") format("truetype");
}

@font-face {
    font-family: AlstomLight;
    src: url("/assets/fonts/Alstom/AlstomLight.ttf") format("truetype");
}

@font-face {
    font-family: AlstomMedium;
    src: url("/assets/fonts/Alstom/AlstomMedium.ttf") format("truetype");
}

@font-face {
    font-family: AlstomRegular;
    src: url("/assets/fonts/Alstom/AlstomRegular.ttf") format("truetype");
}

@font-face {
    font-family: AlstomXLight;
    src: url("/assets/fonts/Alstom/AlstomXLight.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansBlack;
    src: url("/assets/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansBold;
    src: url("/assets/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansExtraBold;
    src: url("/assets/fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansExtraLight;
    src: url("/assets/fonts/WorkSans/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansLight;
    src: url("/assets/fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansMedium;
    src: url("/assets/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansRegular;
    src: url("/assets/fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansSemiBold;
    src: url("/assets/fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: WorkSansThin;
    src: url("/assets/fonts/WorkSans/WorkSans-Thin.ttf") format("truetype");
}

.logo {
  background-image: url("/assets/logo/icon_alstom.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon {
  background-image: url("/assets/logo/icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

button.btn-standar,
button.btn-standar-lg {
  border-radius: 5rem;
  padding-left: 30px;
  padding-right: 30px;
  font-family: WorkSansMedium;
}

button.btn-standar {
  height: 40px;
}

button.btn-standar-lg {
  height: 50px;
}

button.btn-round-xs {
    border-radius: 10rem;
    font-family: WorkSansMedium;
    padding: 5px;
    height: 25px;
    padding-top: 1px;
}

button.btn-round-md {
  height: 35px;
  width: 35px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: WorkSansMedium;
  font-size: 1rem;
}

button.btn-blue-alstom-negative {
  background-color: $basic_white;
  color: $corporate_blue;
  border: $gray-500 solid 1px;
}

button.btn-blue-alstom-negative:hover {
  background-color: $gray-200;
  color: $cool_cerulean;
  border: $corporate_blue solid 1px;
}

button.btn-blue-alstom {
  background-color: $corporate_blue;
  color: $basic_white;
}

button.btn-blue-alstom:hover {
  background-color: $cool_cerulean;
  color: $basic_grey_2;
}

label.error-message {
  font-family: WorkSansRegular;
  color: $warm_red;
}

.color-basic_grey_2 {
  background-color: $basic_grey_2;
}

.color-basic_white {
  background-color: $basic_white;
}

/* The radio */
.radio {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 5px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-family: WorkSansMedium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 6px;
    left: 15px;
    height: 20px;
    width: 20px;
    background-color: $basic_white;
    border-color:$gray-400;
    border-style:solid;
    border-width:1px;
    border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: $basic_white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:$corporate_blue;
}

/* The check */
.check {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 1rem;
    font-family: WorkSansMedium;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 15px;
    height: 18px;
    width: 18px;
    background-color: $basic_white ;
    border-color:$gray-400;
    border-style:solid;
    border-width:1px;
    border-radius: 20%;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: $basic_white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid ;
    border-color:$corporate_blue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
