<app-menu></app-menu>

<ngx-spinner
        bdOpacity=0.8
        bdColor="rgb(135, 135, 135)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-multiple"
        [fullScreen]="true">
</ngx-spinner>

<div class="container-fluid">
    <form>

        <!-- Basic Datas -->
        <section>
            <div class="form-group row header header-claim title-claim">
                <div class="col">
                    <h5 class="text-center">DATOS A RELLENAR POR EL SOLICITANTE</h5>
                </div>
            </div>
            <div class="form-group row header header-claim">
                <div class="col-sm-3">
                    <h5 class="text-center">Nº Solicitud</h5>
                </div>
                <div class="col-sm-3">
                    <input name="claim.claim_num"
                           type="text"
                           [(ngModel)]="claim.claim_num"
                           class="form-control form-control-sm"/>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-center">Fecha Solicitud</h5>
                </div>
                <div class="col-sm-3">
                    <input name="claim.claim_date"
                           type="date"
                           [(ngModel)]="claim.claim_date"
                           class="form-control form-control-sm"
                           [value]="claim.claim_date"
                    />
                </div>
            </div>
        </section>

        <!-- Datos Solicitante Operador  -->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5 class="text-center">Datos Solicitante Operador / Consorcio Mantenimiento</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre:</label>
                <div class="col-sm-10">
                    <mat-form-field>
                        <input name="claim.claimant.complete_name" type="text"
                               [(ngModel)]="claim.claimant.complete_name" matInput
                               [formControl]="dataService.usersControl" [matAutocomplete]="claimant"
                               class="form-control form-control-sm" required>
                        <mat-autocomplete #claimant="matAutocomplete">
                            <mat-option *ngFor="let user of dataService.usersFiltered | async"
                                        [value]="user.complete_name"
                                        (onSelectionChange)='serviceClaim.setUserData(user)'>
                                {{user.complete_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Teléfono:</label>
                <div class="col-sm-2">
                    <input name="claim.claimant.phone"
                           type="text"
                           [(ngModel)]="claim.claimant.profile.phone"
                           class="form-control form-control-sm"/>
                </div>
                <label class="col-sm-1 col-form-label text-md-right text-sm-left">Móvil:</label>
                <div class="col-sm-3">
                    <input name="claim.claimant.mobile"
                           type="text"
                           [(ngModel)]="claim.claimant.profile.mobile"
                           class="form-control form-control-sm"/>
                </div>
                <label class="col-sm-1 col-form-label text-md-right text-sm-left">Email:</label>
                <div class="col-sm-3">
                    <input name="claim.claimant.email"
                           type="email"
                           [(ngModel)]="claim.claimant.email"
                           class="form-control form-control-sm"/>
                </div>
            </div>
        </section>

        <!-- Ámbito del Servicio de Piloto -->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5>Ámbito del Servicio de Piloto</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Empresa:</label>
                <div class="col-sm-10">
                    <mat-form-field>
                        <input name="claim.service.company.name" type="text" aria-label="Number"
                               [(ngModel)]="claim.service.company.name" matInput
                               [formControl]="dataService.companiesControl" [matAutocomplete]="company"
                               class="form-control form-control-sm">
                        <mat-autocomplete #company="matAutocomplete">
                            <mat-option *ngFor="let option of dataService.companiesFilteres | async"
                                        [value]="option.name">
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right text-sm-left">Consorcio Matenimiento:</label>
                <div class="col-sm-2">
                    <div class="row">
                        <label class="radio col-sm-12">ALSTOM
                            <input name="claim.service.maintenance"
                                   type="radio"
                                   [(ngModel)]="claim.service.maintenance"
                                   value="ALSTOM"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="radio col-sm-12">COMSA
                            <input name="claim.service.maintenance"
                                   type="radio"
                                   [(ngModel)]="claim.service.maintenance"
                                   value="COMSA"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                </div>
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Operador:</label>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="radio col-sm-6">Trabajos Operador
                            <input name="claim.service.operator"
                                   type="radio"
                                   [(ngModel)]="claim.service.operator"
                                   value="OPERATOR_WORKS"/>
                            <span class="checkround"></span>
                        </label>
                        <label class="radio col-sm-6">Ayuntamientos
                            <input name="claim.service.operator"
                                   type="radio"
                                   [(ngModel)]="claim.service.operator"
                                   value="CITY_HALLS"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="radio col-sm-6">Terceras Empresas
                            <input name="claim.service.operator"
                                   type="radio"
                                   [(ngModel)]="claim.service.operator"
                                   value="THIRD_COMPANIES"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label text-md-right text-sm-left">Numero Servicio de Piloto
                    Solicitados:</label>
                <div class="col-sm-6">
                    <input name="claim.service.number_services"
                           type="number"
                           [(ngModel)]="claim.service.number_services"
                           class="form-control form-control-sm"/>
                </div>
            </div>
        </section>

        <!-- Datos Ubicación Descargo -->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5>Datos Ubicación Descargo</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label  text-md-right text-sm-left">Instalación</label>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="radio col-sm-12">Trambaix
                            <input name="claim.location.instalation"
                                   type="radio"
                                   [(ngModel)]="claim.location.instalation"
                                   value="TRAMBAIX"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="radio col-sm-12">Trambesos
                            <input name="claim.location.instalation"
                                   type="radio"
                                   [(ngModel)]="claim.location.instalation"
                                   value="TRAMBESOS"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <label class="check col-sm-4">Multitubular
                            <input name="claim.location.multitube"
                                   type="checkbox"
                                   [(ngModel)]="claim.location.multitube"/>
                            <span class="checkmark"></span>
                        </label>
                        <label class="check col-sm-4">V1
                            <input name="claim.location.v1"
                                   type="checkbox"
                                   [(ngModel)]="claim.location.v1"/>
                            <span class="checkmark"></span>
                        </label>
                        <label class="check col-sm-4">V2
                            <input name="claim.location.v2"
                                   type="checkbox"
                                   [(ngModel)]="claim.location.v2"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="check col-sm-4">Catenaria
                            <input name="claim.location.catenary"
                                   type="checkbox"
                                   [(ngModel)]="claim.location.catenary"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-form-label">Situación de la Línea:</label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right text-sm-left">Població</label>
                <div class="col-sm-9">
                    <mat-form-field class="example-full-width">
                        <input name="claim.location.location.name" type="text" aria-label="Number" matInput
                               [(ngModel)]="claim.location.location.name" [formControl]="dataService.locationsControl"
                               [matAutocomplete]="location" class="form-control form-control-sm">
                        <mat-autocomplete #location="matAutocomplete">
                            <mat-option *ngFor="let option of dataService.locationsFilteres | async"
                                        [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right text-sm-left">Entre Para o Poste:</label>
                <div class="col-sm-9">
                    <mat-form-field>
                        <input name="claim.location.start_station.name" [(ngModel)]="claim.location.start_station.name"
                               type="text" aria-label="Number" [formControl]="dataService.startStationControl" matInput
                               [matAutocomplete]="start_station" class="form-control form-control-sm"
                        />
                        <mat-autocomplete #start_station="matAutocomplete">
                            <mat-option *ngFor="let option of dataService.startStationFilters | async"
                                        [value]="option.name">
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label text-md-right text-sm-left">y Para o Poste:</label>
                <div class="col-sm-9">
                    <mat-form-field>
                        <input name="claim.location.end_station.name" [(ngModel)]="claim.location.end_station.name"
                               type="text" aria-label="Number" matInput [formControl]="dataService.endStationControl"
                               [matAutocomplete]="end_station" class="form-control form-control-sm"/>
                        <mat-autocomplete #end_station="matAutocomplete">
                            <mat-option *ngFor="let option of dataService.endStationFilters | async"
                                        [value]="option.name">
                                {{ option.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </section>
        <!-- Fecha y hora del Descargo -->
        <section>
            <div class="form-group row header">
                <div class="col">
                    <h5>Fecha y hora del Descargo</h5>
                </div>
                <div class="col text-right">
                    <button class="btn btn-round-xs btn-blue-alstom-negative" (click)="claim.newDatetime()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div *ngFor="let dt of claim.discharge_datetimes; let i = index">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Fecha Descargo:</label>
                    <div class="col-sm-2">
                        <input name="dt.discharge_date{{ i }}"
                               type="date"
                               [(ngModel)]="dt.discharge_date"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Hora Inicio:</label>
                    <div class="col-sm-2">
                        <input name="dt.start_time{{ i }}"
                               type="time"
                               [(ngModel)]="dt.start_time"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Hora de fin:</label>
                    <div class="col-sm-2">
                        <input name="dt.end_time{{ i }}"
                               type="time"
                               [(ngModel)]="dt.end_time"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
                <div class="form-group row border-bottom">
                    <div class="col text-right">
                        <button class="btn btn-round-xs btn-blue-alstom-negative" (click)="claim.removeDatetime(dt)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tipo de Servicio de Piloto / Tipo de descargo -->
        <section>
            <div class="form-group row">
                <div class="col-sm-6">
                    <div class="row header">
                        <div class="col-sm-12">
                            <h5>Tipo de Servicio de Piloto</h5>
                        </div>
                    </div>
                    <div class="row">
                        <label class="radio col-sm-12">Piloto de energía
                            <input name="claim.service_type.type"
                                   type="radio"
                                   [(ngModel)]="claim.service_type.type"
                                   value="ENERGY"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="radio col-sm-12">Piloto de trabajo
                            <input name="claim.service_type.type"
                                   type="radio"
                                   [(ngModel)]="claim.service_type.type"
                                   value="WORK"/>
                            <span class="checkround"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row header">
                        <div class="col-sm-12">
                            <h5>Tipo de descargo</h5>
                        </div>
                    </div>
                    <div class="row">
                        <label class="check col-sm-12">Catenaria y feeder
                            <input name="claim.discharge_type.catenary"
                                   type="checkbox"
                                   [(ngModel)]="claim.discharge_type.catenary"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="check col-sm-6">Cable 25 KV
                            <input name="claim.discharge_type.wire_25"
                                   type="checkbox"
                                   [(ngModel)]="claim.discharge_type.wire_25"/>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </section>

        <!-- Descripción de los trabajos -->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5>Descripción de los trabajos (uso exclusivo del solicitante)</h5>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input name="claim.description"
                           type="text"
                           [(ngModel)]="claim.description"
                           class="form-control form-control-sm"/>
                </div>
            </div>
        </section>

        <!-- DATOS A RELLENAR POR MANTENIMIENTO -->
        <div *ngIf="claim.id">
            <!-- DATOS A RELLENAR POR MANTENIMIENTO -->
            <section>
                <div class="form-group row header-maintenance header-claim title-claim">
                    <div class="col">
                        <h5 class="text-center">DATOS A RELLENAR POR MANTENIMIENTO</h5>
                    </div>
                </div>
                <div class="form-group row header-maintenance header-claim">
                    <div class="col-sm-3">
                        <h5 class="text-center">Confirmación Nº Solicitud</h5>
                    </div>
                    <div class="col-sm-3">
                        <input name="claim.claim_num_2"
                               type="text"
                               [(ngModel)]="claim.claim_num"
                               class="form-control form-control-sm"/>
                    </div>
                    <div class="col-sm-3">
                        <h5 class="text-center">Fecha Confirmación</h5>
                    </div>
                    <div class="col-sm-3">
                        <input name="claim.maintenance_claim.claim_date"
                               type="date"
                               [(ngModel)]="claim.maintenance_claim.claim_date"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="radio radio-blue col">ACEPTADA
                        <input name="claim.maintenance_claim.state"
                               type="radio"
                               [(ngModel)]="claim.maintenance_claim.state"
                               value="ACCEPTED"/>
                        <span class="checkround"></span>
                    </label>
                    <label class="radio radio-blue col">RECHAZADA
                        <input name="claim.maintenance_claim.state"
                               type="radio"
                               [(ngModel)]="claim.maintenance_claim.state"
                               value="REFUSED"/>
                        <span class="checkround"></span>
                    </label>
                </div>
            </section>

            <!-- Datos Confirmación -->
            <section>
                <div class="form-group row header-maintenance">
                    <div class="col-sm-12">
                        <h5 class="text-center">Datos Confirmación</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre:</label>
                    <div class="col-sm-10">
                        <!--                        <mat-form-field>-->
                        <!--                            <input name="claim.maintenance_claim.user_confirm.complete_name" type="text"-->
                        <!--                                   [(ngModel)]="claim.maintenance_claim.user_confirm.complete_name" matInput-->
                        <!--                                   [formControl]="dataService.usersControl" [matAutocomplete]="user_confirm"-->
                        <!--                                   class="form-control form-control-sm" required>-->
                        <!--                            <mat-autocomplete #user_confirm="matAutocomplete">-->
                        <!--                                <mat-option *ngFor="let user of dataService.usersFiltered | async"-->
                        <!--                                            [value]="user.complete_name"-->
                        <!--                                            (onSelectionChange)='dataService.setMaintenanceUserData(user)'>-->
                        <!--                                    {{user.complete_name}}-->
                        <!--                                </mat-option>-->
                        <!--                            </mat-autocomplete>-->
                        <!--                        </mat-form-field>-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Teléfono:</label>
                    <div class="col-sm-4">
                        <input name="claim.maintenance_claim.user_confirm.profile.phone"
                               type="text"
                               [(ngModel)]="claim.maintenance_claim.user_confirm.profile.phone"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Email:</label>
                    <div class="col-sm-4">
                        <input name="claim.maintenance_claim.user_confirm.email"
                               type="text"
                               [(ngModel)]="claim.maintenance_claim.user_confirm.email"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
            </section>

            <!-- Datos Piloto -->
            <section>
                <div class="form-group row header-maintenance">
                    <div class="col-sm-12">
                        <h5 class="text-center">Datos Piloto</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre:</label>
                    <div class="col-sm-10">
                        <!--                        <mat-form-field>-->
                        <!--                            <input name="claim.maintenance_claim.user_pilot.complete_name" type="text"-->
                        <!--                                   [(ngModel)]="claim.maintenance_claim.user_pilot.complete_name" matInput-->
                        <!--                                   [formControl]="dataService.usersControl" [matAutocomplete]="user_pilot"-->
                        <!--                                   class="form-control form-control-sm" required>-->
                        <!--                            <mat-autocomplete #user_pilot="matAutocomplete">-->
                        <!--                                <mat-option *ngFor="let user of dataService.usersFiltered | async"-->
                        <!--                                            [value]="user.complete_name"-->
                        <!--                                            (onSelectionChange)='dataService.setPilotUserData(user)'>-->
                        <!--                                    {{user.complete_name}}-->
                        <!--                                </mat-option>-->
                        <!--                            </mat-autocomplete>-->
                        <!--                        </mat-form-field>-->
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Móvil:</label>
                    <div class="col-sm-4">
                        <input name="claim.maintenance_claim.user_pilot.profile.mobile"
                               type="text"
                               [(ngModel)]="claim.maintenance_claim.user_pilot.profile.mobile"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Email:</label>
                    <div class="col-sm-4">
                        <input name="claim.maintenance_claim.user_pilot.email"
                               type="text"
                               [(ngModel)]="claim.maintenance_claim.user_pilot.email"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
            </section>

            <!-- Datos Ubicación Descargo -->
            <section>
                <div class="form-group row header-maintenance">
                    <div class="col-sm-12">
                        <h5>Datos Ubicación Descargo</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label  text-md-right text-sm-left">Instalación</label>
                    <div class="col-sm-4">
                        <div class="row">
                            <label class="radio radio-blue col-sm-12">Trambaix
                                <input name="claim.maintenance_claim.location.instalation"
                                       type="radio"
                                       [(ngModel)]="claim.maintenance_claim.location.instalation"
                                       value="TRAMBAIX"/>
                                <span class="checkround"></span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="radio radio-blue col-sm-12">Trambesos
                                <input name="claim.maintenance_claim.location.instalation"
                                       type="radio"
                                       [(ngModel)]="claim.maintenance_claim.location.instalation"
                                       value="TRAMBESOS"/>
                                <span class="checkround"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="check check-blue col-sm-4">Multitubular
                                <input name="claim.maintenance_claim.location.multitube"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.location.multitube"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="check check-blue col-sm-4">V1
                                <input name="claim.maintenance_claim.location.v1"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.location.v1"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="check check-blue col-sm-4">V2
                                <input name="claim.maintenance_claim.location.v2"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.location.v2"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="check check-blue col-sm-4">Catenaria
                                <input name="claim.location.catenary"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.location.catenary"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Tipo de Servicio de Piloto / Tipo de descargo -->
            <section>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="row header-maintenance">
                            <div class="col-sm-12">
                                <h5>Tipo de Servicio de Piloto</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label class="radio radio-blue col-sm-12">Piloto de energía
                                <input name="claim.maintenance_claim.service_type.type"
                                       type="radio"
                                       [(ngModel)]="claim.maintenance_claim.service_type.type"
                                       value="ENERGY"/>
                                <span class="checkround"></span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="radio radio-blue col-sm-12">Piloto de trabajo
                                <input name="claim.maintenance_claim.service_type.type"
                                       type="radio"
                                       [(ngModel)]="claim.maintenance_claim.service_type.type"
                                       value="WORK"/>
                                <span class="checkround"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row header-maintenance">
                            <div class="col-sm-12">
                                <h5>Tipo de descargo</h5>
                            </div>
                        </div>
                        <div class="row">
                            <label class="check check-blue col-sm-12">Catenaria y feeder
                                <input name="claim.maintenance_claim.discharge_type.catenary"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.discharge_type.catenary"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="row">
                            <label class="check check-blue col-sm-6">Cable 25 KV
                                <input name="claim.maintenance_claim.discharge_type.wire_25"
                                       type="checkbox"
                                       [(ngModel)]="claim.maintenance_claim.discharge_type.wire_25"/>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Observaciones -->
            <section>
                <div class="form-group row header-maintenance">
                    <div class="col-sm-12">
                        <h5>Observaciones</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input name="claim.maintenance_claim.comments"
                               type="text"
                               [(ngModel)]="claim.maintenance_claim.comments"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
            </section>
        </div>

    </form>
</div>
