<app-menu></app-menu>

<ngx-spinner
        bdOpacity=0.8
        bdColor="rgb(135, 135, 135)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-multiple"
        [fullScreen]="true">
</ngx-spinner>

<div class="container-fluid">
    <form>
        <!-- Common Data -->
        <section>
            <div class="form-group row header header-claim title-claim">
                <div class="col">
                    <h5 class="text-center">DATOS A RELLENAR POR EL SOLICITANTE</h5>
                </div>
            </div>
            <div class="form-group row header header-claim">
                <div class="col-sm-3">
                    <h5 class="text-center">Nº Solicitud</h5>
                </div>
                <div class="col-sm-3">
                    <input name="works.request_num"
                           type="text"
                           placeholder="STA-AÑO-XXX"
                           [(ngModel)]="works.request_num"
                           class="form-control form-control-sm" required="required"/>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-center">Fecha Solicitud</h5>
                </div>
                <div class="col-sm-3">
                    <input name="works.request_date"
                           type="date"
                           [(ngModel)]="works.request_date"
                           class="form-control form-control-sm"/>
                </div>
            </div>
        </section>

        <!-- Datos Solicitante Operador  -->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5 class="text-center">DATOS A RELLENAR POR EL OPERADOR / (SOLICITUD)</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre:</label>
                <div class="col-sm-10">
                    <mat-form-field>
                        <input name="works.claimant.complete_name" type="text"
                               [(ngModel)]="works.claimant.complete_name" matInput
                               [formControl]="dataService.usersControl" [matAutocomplete]="claimant"
                               class="form-control form-control-sm" required>
                        <mat-autocomplete #claimant="matAutocomplete">
                            <mat-option *ngFor="let user of dataService.usersFiltered | async"
                                        [value]="user.complete_name"
                                        (onSelectionChange)='serviceWorks.setUserData(user)'>
                                {{user.complete_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Teléfono:</label>
                <div class="col-sm-2">
                    <input name="works.claimant.phone"
                           type="text"
                           [(ngModel)]="works.claimant.profile.phone"
                           class="form-control form-control-sm" />
                </div>
                <label class="col-sm-1 col-form-label text-md-right text-sm-left">Móvil:</label>
                <div class="col-sm-3">
                    <input name="works.claimant.mobile"
                           type="text"
                           [(ngModel)]="works.claimant.profile.mobile"
                           class="form-control form-control-sm"/>
                </div>
                <label class="col-sm-1 col-form-label text-md-right text-sm-left">Email:</label>
                <div class="col-sm-3">
                    <input name="works.claimant.email"
                           type="email"
                           [(ngModel)]="works.claimant.email"
                           class="form-control form-control-sm"/>
                </div>
            </div>
        </section>


        <!--Request Details-->
        <section>
            <div class="form-group row header">
                <div class="col-sm-12">
                    <h5 class="text-center">Detalles de la solicitud</h5>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre de la solicitud:</label>
                <div class="col-sm-3">
                    <input type="text" name="works.name" [(ngModel)]="works.name"
                           class="form-control form-control-sm" required="required"/>
                </div>
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Descripción de la solicitud:</label>
                <div class="col-sm-3">
                    <mat-form-field>
                        <textarea matInput name="works.description" [(ngModel)]="works.description"
                                  class="form-control form-control-sm"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Propuesta (Archivo):</label>
                <div class="col-sm-3">
                    <input type="file" class="form-control form-control-sm" (change)="onFileChange($event)"
                           name="works_proposal_main_file" [(ngModel)]="works.proposal_main_file">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Prioridad:</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" name="works.priority" [(ngModel)]="works.priority">
                        <option value="H">Alta</option>
                        <option value="M">Media</option>
                        <option value="L">Baja</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Red:</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" name="works.network" [(ngModel)]="works.network">
                        <option value="TBX">TBX</option>
                        <option value="TBS">TBS</option>
                    </select>
                </div>
                <label class="col-sm-2 col-form-label text-md-right text-sm-left">Ámbito de aplicación:</label>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" name="works.application_area"
                            [(ngModel)]="works.application_area">
                        <option value="MATERIAL_RODANTE">Material Rodante</option>
                        <option value="SISTEMAS">Sistemas</option>
                        <option value="INFRAESTRUCTURA">Infraestructura</option>
                    </select>
                </div>
            </div>
        </section>

        <div *ngIf="works.id">
            <section>
                <div class="form-group row header header-claim title-claim">
                    <div class="col">
                        <h5 class="text-center">A RELLENAR POR EL MANTENEDOR (PROPUESTA)</h5>
                    </div>
                </div>
                <div class="form-group row header header-claim">
                </div>
            </section>

            <section>
                <div class="form-group row header">
                    <div class="col-sm-12">
                        <h5 class="text-center">Persona del mantenedor asignada: </h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Nombre:</label>
                    <div class="col-sm-10">
                        <mat-form-field>
                            <input name="works.proposal.maintainer.complete_name" type="text"
                                   [(ngModel)]="works.proposal.maintainer.complete_name" matInput
                                   [formControl]="dataService.maintainersControl" [matAutocomplete]="assignedMaintainer"
                                   class="form-control form-control-sm" required>
                            <mat-autocomplete #assignedMaintainer="matAutocomplete">
                                <mat-option *ngFor="let user of dataService.maintainersFiltered | async"
                                            [value]="user.complete_name"
                                            (onSelectionChange)='serviceWorks.setMaintainerClaimant(user)'>
                                    {{user.complete_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Teléfono:</label>
                    <div class="col-sm-2">
                        <input name="works.proposal.maintainer.phone"
                               type="text"
                               [(ngModel)]="works.proposal.maintainer.profile.phone"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-1 col-form-label text-md-right text-sm-left">Móvil:</label>
                    <div class="col-sm-3">
                        <input name="works.proposal.maintainer.mobile"
                               type="text"
                               [(ngModel)]="works.proposal.maintainer.profile.mobile"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-1 col-form-label text-md-right text-sm-left">Email:</label>
                    <div class="col-sm-3">
                        <input name="maintainer_email"
                               type="email"
                               [(ngModel)]="works.proposal.maintainer.email"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="works.id">
            <section>
                <div class="form-group row header">
                    <div class="col-sm-12">
                        <h5 class="text-center">Detalles de la propuesta: </h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Código de la Propuesta
                    </label>
                    <div class="col-sm-2">
                        <input name="proposal_proposal_str_id"
                               type="text"
                               placeholder="OFT-AÑO-XXX"
                               [(ngModel)]="works.proposal.proposal_str_id"
                               class="form-control form-control-sm"
                        />
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Fecha teórica propuesta s/ prioridad (*)
                    </label>
                    <div class="col-sm-2">
                        <input type="date" name="proposal_proposed_or_priority_date"
                               [(ngModel)]="works.proposal.proposed_or_priority_date"
                               class="form-control form-control-sm"
                        />
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Fecha de entrega de la propuesta
                    </label>
                    <div class="col-sm-2">
                        <input name="proposal_delivery_date" type="date" [(ngModel)]="works.proposal.delivery_date"
                               class="form-control form-control-sm"
                        />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Propuesta (*):
                    </label>
                    <div class="col-sm-7">
                        <input name="works_proposal_proposal_file" type="file" class="form-control form-control-sm"
                               (change)="onFileChange($event)" [(ngModel)]="works.proposal.proposal_file">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Coste propuesta (*)
                    </label>
                    <div class="col-sm-10">
                        <fieldset class="border p-1">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    {{ works.proposal.prices[0].parent_group }}
                                </label>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Horas
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_0_price_duration"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[0].duration"
                                           class="form-control form-control-sm"
                                           aria-describedby="basic-addon1"
                                    />
                                </div>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Importe (€)
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_0_price_price"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[0].price"
                                           class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    {{ works.proposal.prices[2].parent_group }}
                                </label>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Horas
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_2_price_duration"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[2].duration"
                                           class="form-control form-control-sm"
                                           aria-describedby="basic-addon1"
                                    />
                                </div>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Importe (€)
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_2_price_price"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[2].price"
                                           class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Precio (*)
                    </label>
                    <div class="col-sm-10">
                        <fieldset class="border p-3">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    {{ works.proposal.prices[1].parent_group }}
                                </label>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Horas
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_1_price_duration"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[1].duration"
                                           class="form-control form-control-sm"
                                           aria-describedby="basic-addon1"
                                    />
                                </div>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Importe (€)
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_1_price_price"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[1].price"
                                           class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    {{ works.proposal.prices[3].parent_group }}
                                </label>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Horas
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_3_price_duration"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[3].duration"
                                           class="form-control form-control-sm"
                                           aria-describedby="basic-addon1"
                                    />
                                </div>
                                <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                                    Importe (€)
                                </label>
                                <div class="col-sm-2">
                                    <input name="proposal_3_price_price"
                                           type="number"
                                           step="0.01" min="0" lang="en"
                                           [(ngModel)]="works.proposal.prices[3].price"
                                           class="form-control form-control-sm"
                                    />
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!--                TODO: Verificar los inputs de tipo file y revisar que rellenen los campos. -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Planificación trabajos solicitados
                    </label>
                    <div class="col-sm-6">
                        <input name="works_proposal_work_planning_file" type="file" (change)="onFileChange($event)"
                               [(ngModel)]="works.proposal.work_planning_file"
                               class="form-control form-control-sm"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Documentación interna preparación oferta (*)
                    </label>
                    <div class="col-sm-6">
                        <input name="works_proposal_internal_documentation_file" type="file"
                               class="form-control form-control-sm" (change)="onFileChange($event)"
                               [(ngModel)]="works.proposal.internal_documentation_file">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Oferta de la solicitud
                    </label>
                    <div class="col-sm-6">
                        <input name="works_proposal_offer_request_file" type="file" class="form-control form-control-sm"
                               (change)="onFileChange($event)"
                               [(ngModel)]="works.proposal.offer_request_file">
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="works.id">
            <section>
                <div class="form-group row header header-claim title-claim">
                    <div class="col">
                        <h5 class="text-center">A RELLENAR POR EL OPERADOR (APROBACION)</h5>
                    </div>
                </div>
                <div class="form-group row header header-claim">
                </div>
            </section>
        </div>
        <!--        TODO: LINKAR LOS CAMPOS AÑADIDOS -->
        <div *ngIf="works.id">
            <section>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Fecha:</label>
                    <div class="col-sm-4">
                        <input name="proposal_approval_date"
                               type="date"
                               [(ngModel)]="works.proposal.approval_date"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Aceptación Propuesta:</label>
                    <div class="col-sm-4">
                        <!-- TODO: FORM CONTROL WITH MAT -->
                        <select class="form-control form-control-sm" name="proposal_proposed_acceptance"
                                [(ngModel)]="works.proposal.proposed_acceptance">
                            <option>Aceptada</option>
                            <option>Rechazada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Nombre del operador que valida la propuesta
                    </label>
                    <div class="col-sm-10">
                        <div class="col-sm-10">
                            <mat-form-field>
                                <input name="proposal_validator_user_complete_name" type="text"
                                       [(ngModel)]="works.proposal.validator_user.complete_name" matInput
                                       [formControl]="dataService.validatorControl" [matAutocomplete]="validator"
                                       class="form-control form-control-sm" required>
                                <mat-autocomplete #validator="matAutocomplete">
                                    <mat-option *ngFor="let user of dataService.validatorFiltered | async"
                                                [value]="user.complete_name"
                                                (onSelectionChange)='serviceWorks.setValidatorClaimant(user)'>
                                        {{user.complete_name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Pedido:</label>
                    <div class="col-sm-4">
                        <input name="works_proposal_order_file"
                               type="file" (change)="onFileChange($event)"
                               [(ngModel)]="works.proposal.order_file"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Comentarios:</label>

                    <div class="col-sm-4">
                        <mat-form-field>
                        <textarea matInput name="proposal_comments" [(ngModel)]="works.proposal.comments"
                                  class="form-control form-control-sm"></textarea>
                        </mat-form-field>
                    </div>

                </div>
            </section>

        </div>
        <div *ngIf="works.id">
            <section>
                <div class="form-group row header header-claim title-claim">
                    <div class="col">
                        <h5 class="text-center">A RELLENAR POR EL MANTENEDOR (REALIZACION DE LOS TRABAJOS)</h5>
                    </div>
                </div>
                <div class="form-group row header header-claim">
                </div>
            </section>

            <section>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Persona mantenedor encargada
                    </label>
                    <div class="col-sm-10">
                        <mat-form-field>
                            <input name="forecast_claimant_complete_name" type="text"
                                   [(ngModel)]="works.forecast.claimant.complete_name" matInput
                                   [formControl]="dataService.forecastClaimantControl"
                                   [matAutocomplete]="forecastClaimant"
                                   class="form-control form-control-sm" required>
                            <mat-autocomplete #forecastClaimant="matAutocomplete">
                                <mat-option *ngFor="let user of dataService.forecastClaimantFiltered | async"
                                            [value]="user.complete_name"
                                            (onSelectionChange)='serviceWorks.setForecastClaimant(user)'>
                                    {{user.complete_name}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Previsión finalización de los
                        trabajos:</label>
                    <div class="col-sm-2">
                        <input name="forecast_forecast_date"
                               type="date"
                               [(ngModel)]="works.forecast.forecast_date"
                               class="form-control form-control-sm"/>

                    </div>
                    <div class="col-sm-4">
                        <input type="file" class="form-control form-control-sm" name="works_forecast_forecast_file"
                               (change)="onFileChange($event)"
                               [(ngModel)]="works.forecast.forecast_file"
                               aria-describedby="Buscar">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Situación de los trabajos
                        (seleccionar):</label>
                    <div class="col-sm-2">
                        <select class="form-control form-control-sm" name="forecast_status"
                                [(ngModel)]="works.forecast.status">
                            <option>Pendiente</option>
                            <option>Iniciado</option>
                            <option>50%</option>
                            <option>Finalizado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Fecha de Finalización de los
                        trabajos:</label>
                    <div class="col-sm-2">
                        <input name="forecast_end_date"
                               type="date"
                               [(ngModel)]="works.forecast.end_date"
                               class="form-control form-control-sm"/>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">Comentarios:</label>
                    <div class="col-sm-4">
                        <mat-form-field>
                        <textarea matInput name="forecast_comments" [(ngModel)]="works.forecast.comments"
                                  class="form-control form-control-sm"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group row header">
                    <div class="col-sm-12">
                        <h5 class="text-center">Imputación de horas</h5>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Imputación a la bolsa horaria:
                    </label>
                    <div class="col-sm-4">
                        <table class="table table-borderless table-responsive-sm text-sm-center">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="corporate-color">Material Rodante</th>
                                <th scope="col" class="corporate-color">Infra</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="corporate-color">TBX</th>
                                <td>
                                    <input name="account_assignment_hours_0_material_rodante"
                                           type="number"
                                           [(ngModel)]="works.account_assignment_hours[0].material_rodante"
                                           class="form-control form-control-sm"/>
                                </td>
                                <td>
                                    <input name="account_assignment_hours_0_infra"
                                           type="number"
                                           [(ngModel)]="works.account_assignment_hours[0].infra"
                                           class="form-control form-control-sm"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="corporate-color">TBS</th>
                                <td>
                                    <input name="account_assignment_hours_1_material_rodante"
                                           type="text"
                                           [(ngModel)]="works.account_assignment_hours[1].material_rodante"
                                           class="form-control form-control-sm"/>
                                </td>
                                <td>
                                    <input name="account_assignment_hours_0_infra"
                                           type="text"
                                           [(ngModel)]="works.account_assignment_hours[1].infra"
                                           class="form-control form-control-sm"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <label class="col-sm-2 col-form-label text-md-right text-sm-left">
                        Contador total de Bolsa horaria:
                    </label>
                    <div class="col-sm-4">
                        <table class="table table-borderless table-responsive-sm text-sm-center">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="corporate-color">Material Rodante</th>
                                <th scope="col" class="corporate-color">Infra</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="corporate-color">TBX</th>
                                <td>
                                    <input name="bucket_assignment_hours_0_material_rodante"
                                           type="text"
                                           [(ngModel)]="works.bucket_assignment_hours[0].material_rodante"
                                           class="form-control form-control-sm"/>
                                </td>
                                <td>
                                    <input name="bucket_assignment_hours_0_infra"
                                           type="text"
                                           [(ngModel)]="works.bucket_assignment_hours[0].infra"
                                           class="form-control form-control-sm"/>
                                </td>
                            </tr>
                            <tr>
                                <th class="corporate-color">TBS</th>
                                <td>
                                    <input name="bucket_assignment_hours_1_material_rodante"
                                           type="text"
                                           [(ngModel)]="works.bucket_assignment_hours[1].material_rodante"
                                           class="form-control form-control-sm"/>
                                </td>
                                <td>
                                    <input name="bucket_assignment_hours_1_infra"
                                           type="text"
                                           [(ngModel)]="works.bucket_assignment_hours[1].infra"
                                           class="form-control form-control-sm"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </form>
</div>


<script>
    console.log("Se ejecuta")
    $('#proposal_main_file').on('change', function () {
        $('.custom-file-label').html($(this).val());
    })
</script>
