@import "../../../../styles";

div.container-fluid {
  margin-top: $margin-nav;
}

div.header {
  background-color: $corporate_blue;
}

div.header-maintenance {
  background-color: $cool_azure;
}

div.title-claim {
  margin-bottom: 0;
}

div.title-claim > div > h5 {
  display: block !important;
}

div.header > div > h5,
div.header-maintenance > div > h5 {
  color: $basic_white;
  font-family: AlstomMedium;
  display: table-cell;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  font-size: 1.2rem;
}

label {
  color: $dark_blue;
  font-size: 1.0rem;
  font-family: WorkSansMedium;
}

div.border-bottom {
  border-bottom: solid 1px $gray-200;
  padding-bottom: 1rem;
}

div.header-claim {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


/* Override */
input.form-control {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

input.form-control:focus {
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  box-shadow: none;
}


/* Style the checkmark/indicator */
.radio-blue .checkround:after {
  background: $cool_azure !important;
}

.check-blue .checkmark:after {
  border-color: $cool_azure !important;

}

th.corporate-color {
  background: $corporate_blue;
  color: white;
}
