<div class="container container-login">

    <ngx-spinner
        bdOpacity = 0.8
        bdColor = "rgb(135, 135, 135)"
        size = "medium"
        color = "#fff"
        type = "ball-clip-rotate-multiple"
        [fullScreen] = "true">
    </ngx-spinner>

    <div class="card">
        <div class="card-header">
            <div class="logo"></div>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-user" >
                        </span>
                    </div>
                    <input class="form-control"
                       name="username"
                       [(ngModel)]="username"
                       type="text"
                       placeholder="Usuario">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text fa fa-lock" >

                        </span>
                    </div>
                    <input class="form-control"
                           name="password"
                           [(ngModel)]="password"
                           type="password"
                           placeholder="Contraseña">
                </div>
            </form>
            <div *ngIf="error.show" class="card-text">
                <label class="error-message font-italic">{{ error.message }}</label>
            </div>
            <div class="card-text text-right mb-3">
                <button class="btn btn-blue-alstom btn-standar"
                    (click)="login()"
                    [disabled]="!password || !username">Aceptar</button>
            </div>
        </div>
    </div>
</div>
