@import "../../../../styles";

div.container-login {
  margin-top: 2.5rem;
}

div.container-login > div.card > div.card-body > div.card-text > button {
  margin-top: 1rem;
}

div.container-login > div.card > div.card-header {
  background-color: $basic_grey_2;
}

div.container-login > div.card > div.card-header > div.logo {
  height: 2rem;;
}

div.container-login > div.card {
  border-radius: 1rem;
}

div.container-login > div.card > div.card-header {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

div.container-login > div.card > div.card-body {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

div.btn div.btn-secondary {

}