<nav class="navbar navbar-expand-md fixed-top color-basic_white">
    <a class="navbar-brand">
        <div class="logo"></div>
    </a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#menu"
            aria-controls="menu"
            aria-expanded="false"
            aria-label="Menu">
        MENU
        <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" *ngFor="let parent of serviceMenu.menu.items">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="{{ parent.id }}"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {{ parent.name }}
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="parent.id">
                    <a class="dropdown-item"
                       *ngFor="let child of parent.children"
                       (click)="goTo(child, parent)">
                        <span class="fa fa-circle fa-item"></span>
                        {{child.name}}
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown" *ngIf="serviceMenu.user">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {{ serviceMenu.user.complete_name }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Usuario: {{ serviceMenu.user.complete_name }}</a>
                    <a class="dropdown-item">Email: {{ serviceMenu.user.email }}</a>
                    <a class="dropdown-item">Grupos: {{ serviceMenu.user.groups }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
        <form *ngIf="serviceMenu.typeSearcher"
              class="form-inline my-2 my-md-0">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input"
                           type="text"
                           name="filter.name"
                           placeholder="Buscar..."
                           [(ngModel)]="searcher.filter.name"
                    >
                    <a class="search_icon" (click)="searcher.search()">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div *ngIf="searcher.nextUrl || searcher.previousUrl">
                <button class="btn btn-round-md btn-blue-alstom-negative"
                        title="Siguiente"
                        [disabled]="!searcher.nextUrl"
                        (click)="searcher.next()">
                    <i class="fa fa-caret-right"></i>
                </button>
                <button class="btn btn-round-md btn-blue-alstom-negative"
                        title="Anterior"
                        [disabled]="!searcher.previousUrl"
                        (click)="searcher.previous()">
                    <i class="fa fa-caret-left"></i>
                </button>

            </div>
        </form>
        <form *ngIf="serviceMenu.typeEdit"
              class="form-inline my-2 my-md-0">
            <button class="btn btn-round-md btn-blue-alstom-negative"
                    title="Guardar"
                    (click)="serviceMenu.save()">
                <i class="fa fa-save"></i>
            </button>
        </form>
    </div>
</nav>
