@import "../../../styles";


a.navbar-brand > div.logo {
    height: 30px;
    width: 150px;
}

li.nav-item > a.nav-link, a.dropdown-item {
  font-family: WorkSansMedium;
  color: $black;
}

li.nav-item > a.nav-link {
  font-size: 1rem;
}

a.dropdown-item {
  font-size: 0.9rem;
}

a.dropdown-item:active {
    background-color: transparent;
}

li.nav-item > a.nav-link:hover,
a.dropdown-item:hover {
    color: $corporate_blue !important;
}

button.navbar-toggler {
  color: $black;
  font-size: 1rem;
  font-family: WorkSansMedium;
}

button.navbar-toggler:hover {
  color: $corporate_blue;
}

button.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

button.btn-icon {
  color: $black;
  font-size: 1.2rem;
}

button.btn-icon:hover {
  color: $corporate_blue;
}

span.fa-item {
    color: $warm_ruby;
    font-size: 0.5rem;
    dispaly: inline-block;
    vertical-align: middle;
}

/** Bar Search */
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 2.3rem;
  background-color: $basic_white;
  border-radius: 30px;
}

.search_input {
    color: $basic_black;
    font-family: WorkSansMedium;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 20rem;
    caret-color:$basic_black;
    border-bottom: $gray-200 1px solid;
}

.searchbar > .search_input:focus {
    border-bottom: #80bdff 1px solid !important;
}

.searchbar:hover > .search_icon {
    background-color: $gray-200;
    color: $cool_cerulean;
    border: $corporate_blue solid 1px;
    text-decoration: none;
}

.search_icon {
    height: 35px;
    width: 35px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $corporate_blue;
    border: $gray-500 solid 1px;
}
